* {
  font-family: Arial, sans-serif;
}

body {
  background-color: #333333;
}

.container {
  display: flex;
    flex-direction: column;
  justify-content: center;
}

.homepage-button-link {
  display: inline-block;
  width: 50%;
  background-color: #663399;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.homepage-button-link:hover {
  background-color: #552288;
}

.homepage-button-link:active {
  transform: scale(0.95);
}

#logo
 {
  width: 200px;
  height: auto;
}

form {
  width: 30%;
  background-color: #333333;
  margin: auto;
  border: 1px solid #666666;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

form input[type="text"],
form input[type="number"],
form input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #666666;
  border-radius: 4px;
  font-size: 16px;
  color: #ffffff;
  background-color: #444444;
}

form input[type="submit"] {
  width: 100%;
  background-color: #663399;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#hasPet {
  height: 30px;
  width: 30px;
  margin-top: -20px;
  margin-bottom: 20px;
}

form input[type="submit"]:hover {
  background-color: #552288;
}

.hidden {
  background-color: transparent;
}

button#open-form-button,
button#open-list-button,
button#open-transaction-form
 {
  display: inline-block;
  background-color: #663399;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button#open-form-button:hover,
button#open-list-button:hover,
button#open-transaction-form:hover
 {
  background-color: #552288;
}

button#open-form-button:active,
button#open-list-button:active {
  transform: scale(0.95);
}

.tenant-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 14px;
  color: #ffffff;
  background-color: #555555;
  border-radius: 4px;
}

.tenant-table th {
  text-align: left;
  padding: 12px 20px;
  border-bottom: 1px solid #666666;
  font-weight: bold;
}

.tenant-table td {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding: 12px 20px;
  border-bottom: 1px solid #666666;
}

.tenant-table tr:nth-child(odd) {
  background-color: #555555;
}

.tenant-table tr:nth-child(even) {
  background-color: #444444;
}


@media (max-width: 600px) {
  form {
    width: 90%;
  }

  form label {
    font-size: 12px;
  }

  form input[type="text"],
  form input[type="number"],
  form input[type="date"] {
    padding: 6px 10px;
  }

  form input[type="submit"] {
    padding: 10px;
  }





}
